img
{
  height:100%;
  width:100%;
  transition:all 0.3s ease-in-out;
}
.asignment
{
  display:grid;
  gap:20px;
  justify-content:center;
  margin:20px;
  border:2px solid white;
  padding:3px;
  border-radius:5px;
}