
.hello
{
  font-size:30px;
  font-weight:bold;
  color:blue;
  filter:drop-shadow(2px 2px 5px red);
}
.demo
{
  font-size:30px;
  font-weight:bold;
  color:red;
  filter:drop-shadow(2px 2px 5px blue);
}
